

.game-container{
	position: fixed;
	left: 100px;
	top: 100px;
	width: 100vw;
	height: 100vh;
}

.game-container .games-list{
	background: #616161;
	opacity: 0.7;
	background-size: cover;
	width: 300px;
	height: 100%;
	align-items: center;
	overflow: auto;
	border-right: 1px solid #ffffff81;
	position: fixed;
}
 .games-list ul{
	position: relative;
	color: #ffffff;
	font-size: 1em;
}

 .games-list ul li{
	padding-top: 0px;
	cursor: pointer;
}

.games-list ul li span{
	position: relative;
	top:-10px;
}


.game-item:hover{
	background-color: #9e9e9e;
}

.games-list ul li img{
	
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	width: 50px!important;
	height: 50px!important;
}

.footer-bar {
	position: fixed;
    width: 100%;
    height: 100px;
    top: 40em;
}

.footer-bar h6{
	color: #757575;
}

.footer-bar p{
	color: #f5f5f5;
}

.footer-friends{
	width: 50px;
	height: 50px;
	padding-left: 3px;
}

.download-item{
	color: #FFFFFF;
}

.game-content {
	background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.game-info {
	
	overflow-y: scroll;
    width: 53.4em;
    height: 100%;
    right: 0px;
    position: fixed;
}

.game-logo {
    position: relative;
    width: 250px;
    height: 114px;
    left: -13em;
    top: 34px;
}

.glogo-img {
	background-image: url("https://vignette.wikia.nocookie.net/witcher/images/3/38/TW3_English_logo.png/revision/latest?cb=20150923154606");
	background-size:  contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	
}

.game-play-section {
	position: relative;
    width: 273px;
    height: 38px;
    top: 5em;
    left: -11em;
}

.game-news-section {
	position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    height: auto;
    bottom: -6em;
}
/* 
.progress-bar-section{
    position: relative;
    top: -6em;
	left: 2em;
	margin-top: 13em;
    margin-left: 4em;
}

.progress-bar-section .progress{
	width: 80%;
    top: -18%;
    position: absolute;
}

.items-loading{
    position: relative;
    right: -38em;
}

.update-bar{
	background: grey;
}

.update-bar .determinate{
	background-color: green!important;
} */
/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181c25;
    -webkit-box-shadow: inset 0 0 5px #12171c;
    box-shadow: inset 0 0 5px #12171c;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border: 1px solid #181c25;
    background: #232936;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #313a4d;
}